<article class="review has-text-centered">
    <div>
        <a class="is-size-3 is-underlined is-capitalized" href="/review/{{id}}" target="_blank">*{{title}}*</a>
        <a href=""></a>
        <div class="is-size-7">Rating: {{rating}}/5</div>
    </div>
    <div class="is-size-5">
        {{review_text}}
    </div>
    <div class="has-text-centered is-size-7">
        Reviewed by - {{user.username}} on {{format_date created_at}}
        | 
        <a href="/review/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        |
        {{vote_count}} likes
    </div>
</article>
