<article class="has-text-black pt-3">
  <h2 class="title has-text-centered is-underlined">*Edit Review*</h2>
  <div class="columns">
  <div class="column is-half is-offset-one-quarter">
  <form class="edit-review-form pb-2">
    <div>
        <label class="has-text-centered is-underlined" for="post-title">Review title:</label>
      <input class="input" style="border:2px solid blue ;" name="review-title" type="text" value="{{review.title}}" />
    </div>
    <div>
        <label class="has-text-centered is-underlined" for="review-text">Review:</label>
      <input class="textarea mb-3" style="border:2px solid blue ;" name="review-content" type="text" value="{{review.review_text}}" />
    </div>
    <div class="is-pulled-right pt-2">
       Created by you on {{format_date review.created_at}}
      |
      <a href="/review/{{review.id}}">{{review.comments.length}} {{format_plural "comment" review.comments.length}}</a>
    </div>
    <button type="submit" class="button is-link">Save post</button>
    <button type="button" class="button is-danger delete-review-btn">Delete post</button>
  </form>
  </div>
  </div>
</article>

{{> comments review.comments}}

<script src="/javascript/delete-review.js"></script>
<script src="/javascript/edit-review.js"></script>